$font-playfair: "Playfair Display", serif;
$font-bodoni: "Bodoni Moda", serif;

$font-weight-regular: 400;
$font-weight-bold: 700;

$color-anitque-gold:#C1A15A;
$color-slate-grey: #5A5A5A;
$color-aged-cream: #F1E0C6;

$color-bg: #f4f4f4;
$color-text: #222;
$color-accent: #111;
$color-light: #fff;
$color-grey: #ccc;
$color-muted: #555;

$color-overlay: rgba(0, 0, 0, 0.5);