$font-playfair: "Playfair Display", serif;
$font-bodoni: "Bodoni Moda", serif;

$font-weight-regular: 400;
$font-weight-bold: 700;

$color-anitque-gold:#C1A15A;
$color-slate-grey: #5A5A5A;
$color-aged-cream: #F1E0C6;