@use "../abstracts/variables" as variable;

* {
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0px auto;
    font-family: variable.$font-playfair;
    background: #F4F4F4;
    background: linear-gradient(0deg,rgba(244, 244, 244, 1) 0%, rgba(244, 244, 244, 1) 60%, rgba(17, 17, 17, 1) 100%);
    background-repeat: no-repeat;
    color: variable.$color-text;
}

section {
    margin-top: 4rem;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

h1, h2, h3 {
    margin: 0;
    font-family: variable.$font-bodoni;
    color: variable.$color-text;
}

ul {
    list-style: none;
    padding-left: 0px;
}

a {
    text-decoration: none;
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(83, 79, 79, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.lottie-container {
    width: 150px;
    height: 150px;
}

@media screen and (max-width:768px) {
    
}