@use 'sass:color';
@use "../abstracts/variables" as variable;

@mixin button-style($bg-color, $text-color) {
    padding: 0.5rem 1rem;
    background-color: $bg-color;
    color: $text-color;
    border-radius: 1rem;
    border: none;
    transition: all 0.2s ease-out;
}

.nav-btn {
    @include button-style(transparent, variable.$color-antique-gold);
    border: 2px solid variable.$color-antique-gold;
}

.nav-btn:hover {
    background-color: variable.$color-slate-grey;
}

button, .button {
    padding: 0.75rem 1.5rem;
    background-color: variable.$color-antique-gold;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: color.scale(variable.$color-antique-gold, $lightness: -10%);
    }
}

@media screen and (max-width:603px) {
    .nav-btn {
        padding: 0.5rem 0.5rem;
    }
}